<h1>Homes#index</h1>

<table> 
    <tbody> 
        <% if @photos %> 
            <td>Fotos:</td> 
            <td><%= @photos.size %></td> 
        <% end %>
    </tbody> 
</table> 

<% if @photos %>

<div class="container photos row">
    <% @photos.each do |photo| %>
    <%= render 'photos/photo', photo: photo %>
    <% end %>
</div>

<% end %>	